{% extends "shop/base.html" %} 
{% block content %}

<h1>{{products.name}}</h1>
{% if products.subcategory%}
<span class="kategorie_unterschrift">{{products.subcategory}}</span>
{% else%}
<span class="kategorie_unterschrift">{{products.subcategory}}</span>
{% endif%}
<div class="image_beschreibung">
    {% if products.image%}
<div class="img_container"><img src="{{products.image.url}}"></div>
    {% endif%}
<div class="beschreibung"><p>{{products.description}}</p></div>
</div>

<div class="preise">
    <span class="preis1"> 2cl : {{products.price1}}€</span><br>
    <span class="preis2"> 4cl : {{products.price2}}€</span>
</div>


<a href="{% url 'Shop' %}">
    <div class="back">
        <p>Back</p>
    </div>
</a>

{% endblock %}
