{% extends "shop/base.html" %} 

{% block content %}

<h1> Wilkommen im Elfsechzehn </h1>
 
<p>
Wir freuen uns über deinen Besuch!
</p>
 
<p> Diese Online Menu soll dir helfen bei unserem großen Angebot fündig zu werden, selbstverständlich kannst du auch immer den Bartender oder die Bartenderin fragen, ob es nun um eine persönliche Drink-Empfehlung oder um die Funktionsweise dieser Online Menu geht.
</p>
 
<p>Wir würden uns über dein Feedback freuen, hinterlasse uns doch gerne deine Bewertung bei <a href=""> Google </a> oder, wenn etwas nicht gepasst hat sprich uns doch direkt an.</p>
 
<div class="flexmain">
<a href="{% url 'spiritsList' %}"><div class="flexelement"><p>Spirits</p></div></a>
<a href="{% url 'cocktailsList' %}"><div class="flexelement"><p>Cocktails</p></div></a>
</div>
 
 
 
{% endblock %}
