{% extends "shop/base.html" %} {% block content %}

<div class="container-fluid main">
  <ul>
    {% for kategorie in context %}
      {% if kategorie.1%}
        <h1> {{kategorie.0}} </h1>
        {% for produkt in kategorie.1|dictsort:"name"%}
          <a href="{% url 'spiritsDetail' produkt.id %}">
            <div class="produkt">
              <h4>{{produkt}}</h4>
                <span class="prince1">2cl {{produkt.preis1}}€</span><br>
                <span class="price2">4cl {{produkt.preis2}}€</span> 
            </div>
          </a>
        {%endfor%}
          
        {%endif%}
      {% empty %}Gibt leider nichts zu trinken
      
    {% endfor %}
    </div>
  </ul>
  {% endblock %}
</div>
